<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PriceCalculator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- В этой секции определяется конфигурация ведения журнала для My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Раскомментируйте следующую секцию для записи в журнал событий приложения -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Раскомментируйте следующую секцию и замените APPLICATION_NAME на имя своего приложения для записи в журнал событий приложения -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <PriceCalculator.My.MySettings>
            <setting name="eurCource" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="koeffkat1" serializeAs="String">
                <value>1.4</value>
            </setting>
            <setting name="filename" serializeAs="String">
                <value>калькулятор цен 2013.xls</value>
            </setting>
            <setting name="sheetname" serializeAs="String">
                <value>диаграмма</value>
            </setting>
            <setting name="fullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Nakladnye" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="fullPathPrice" serializeAs="String">
                <value />
            </setting>
            <setting name="filenamePrice" serializeAs="String">
                <value>Рассчет продажи 2015.xlsx</value>
            </setting>
            <setting name="sheetnamePrice_tariff" serializeAs="String">
                <value>Тарифы</value>
            </setting>
            <setting name="sheetnamePrice_Prices" serializeAs="String">
                <value>Цены</value>
            </setting>
            <setting name="sheetnamePrice_Pays" serializeAs="String">
                <value>Выплаты</value>
            </setting>
            <setting name="WholeMaximumDiscount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SalerCost" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ExhibitionCost" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PayPalFee_Full" serializeAs="String">
                <value>10.5</value>
            </setting>
        </PriceCalculator.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
