<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="ModelSampleListContainer" connectionString="metadata=res://*/ModelSampleList.csdl|res://*/ModelSampleList.ssdl|res://*/ModelSampleList.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEWCOMP\TRILBONE;initial catalog=LISTS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
