<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Service.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Service.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Service.My.MySettings.dbReadySampleConnectionString"
      connectionString="data source=v0ecxr50yd.database.windows.net;initial catalog=DBREADYSAMPLE;persist security info=True;user id=foto;password=Asaphus2009;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Service.My.MySettings.dboPhotoConnectionString" connectionString="data source=v0ecxr50yd.database.windows.net,1433;initial catalog=DBOPHOTO;user id=foto;password=Asaphus2009;multipleactiveresultsets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="DBREADYSAMPLEEntities" connectionString="metadata=res://*/dbReadySample.csdl|res://*/dbReadySample.ssdl|res://*/dbReadySample.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=v0ecxr50yd.database.windows.net;initial catalog=DBREADYSAMPLE;persist security info=True;user id=foto;password=Asaphus2009;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBOPHOTOEntities" connectionString="metadata=res://*/dbPhoto.csdl|res://*/dbPhoto.ssdl|res://*/dbPhoto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=v0ecxr50yd.database.windows.net,1433;initial catalog=DBOPHOTO;user id=foto;password=Asaphus2009;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ModelNop350Container" connectionString="metadata=res://*/ModelNop350.csdl|res://*/ModelNop350.ssdl|res://*/ModelNop350.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wisteria.arvixe.com;initial catalog=nopDB;persist security info=True;user id=fotoNC;password=Asaphus2009;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <Service.My.MySettings>
      <setting name="CurrentPhotoPath" serializeAs="String">
        <value />
      </setting>
      <setting name="OrdersPath" serializeAs="String">
        <value>d:\orders_2010\</value>
      </setting>
      <setting name="PhotoWokers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Литвинов</string>
            <string>Анастасия</string>
            <string>Пахом</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="OptimizeImageWight" serializeAs="String">
        <value>1600</value>
      </setting>
      <setting name="DataFilePath" serializeAs="String">
        <value>DATABASES\DataFossil.xml</value>
      </setting>
      <setting name="xmldboPhotoStorePath" serializeAs="String">
        <value>DATABASES\tempDATA\DatadboPhotoStore.xml</value>
      </setting>
      <setting name="DbServersNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>NEWCOMP\TRILBONE</string>
            <string>AZURE</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PhotoManagerStarUpFolder" serializeAs="String">
        <value>d:\ОБРАБОТАННЫЕ\</value>
      </setting>
      <setting name="ExcelBookPath" serializeAs="String">
        <value>d:\размеры_андрей.xlsx</value>
      </setting>
      <setting name="ArhivePhotoPath" serializeAs="String">
        <value />
      </setting>
      <setting name="encoding" serializeAs="String">
        <value />
      </setting>
      <setting name="Wokers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Анастасия</string>
            <string>Кирилл</string>
            <string>Литвинов</string>
            <string>Пахом</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PaperBoxTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>S2</string>
            <string>S3 (8-2712)</string>
            <string>S3x4 (8-2712-1)</string>
            <string>S4 (8-2710)</string>
            <string>S4x45 (8-2710-1)</string>
            <string>S4x5 (8-2710-2)</string>
            <string>S5 (8-2715)</string>
            <string>S5x45 (8-2715-1)</string>
            <string>S6 (8-2716)</string>
            <string>S6x75 (8-2716-1)</string>
            <string>S6x9 (8-2716-2)</string>
            <string>S93x85 (8-2717)</string>
            <string>S93x125 (8-2717-1)</string>
            <string>S125x75 (8-2714)</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="dx" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dy" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TemplateFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LabelDrawPhotoPath" serializeAs="String">
        <value />
      </setting>
      <setting name="UserFileName" serializeAs="String">
        <value>UserPermission.xml</value>
      </setting>
      <setting name="DefaultPrinterName" serializeAs="String">
        <value>QL-710w</value>
      </setting>
      <setting name="AgentFileName" serializeAs="String">
        <value>Agents.xml</value>
      </setting>
      <setting name="TreeFolderPath" serializeAs="String">
        <value>e:\GoogleDrive_fossilcollecting\My Trees\</value>
      </setting>
      <setting name="SiteAccount" serializeAs="String">
        <value>trilbone</value>
      </setting>
      <setting name="RateUSD" serializeAs="String">
        <value>49.92</value>
      </setting>
      <setting name="RateEUR" serializeAs="String">
        <value>55.08</value>
      </setting>
      <setting name="dbNopConnectionString" serializeAs="String">
        <value>data source=wisteria.arvixe.com;initial catalog=nopDB;persist security info=True;user id=fotoNC;password=Asaphus2009;MultipleActiveResultSets=True;App=EntityFramework</value>
      </setting>
      <setting name="MailInsectionFee" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EbayQuery" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dbMyTreesConnectionString" serializeAs="String">
        <value>data source=wisteria.arvixe.com;initial catalog=MyTrees;persist security info=True;user id=fotoNC;password=Asaphus2009;MultipleActiveResultSets=True;App=EntityFramework</value>
      </setting>
      <setting name="PriceFileName" serializeAs="String">
        <value>Рассчет продажи 2015.xlsx</value>
      </setting>
      <setting name="CalcFileName" serializeAs="String">
        <value>калькулятор цен 2013</value>
      </setting>
      <setting name="ExcelEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MappingFileName" serializeAs="String">
        <value>Maps.xml</value>
      </setting>
      <setting name="GdriveFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpModeActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NLcost" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TRsalary" serializeAs="String">
        <value>100</value>
      </setting>
    </Service.My.MySettings>
  </userSettings>
  <applicationSettings>
    <Service.My.MySettings>
      <setting name="PhotoDriveFileMarkerName" serializeAs="String">
        <value>ThisIsMarkerFile.xml</value>
      </setting>
      <setting name="Service_com_ebay_developer_eBayAPIInterfaceService"
        serializeAs="String">
        <value>https://api.ebay.com/wsapi</value>
      </setting>
    </Service.My.MySettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>