<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RestMS_Client.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RestMS_Client.My.MySettings>
      <setting name="dx" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dy" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WorkWareList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Внутренний Нарва</string>
            <string>Внутренний Питер</string>
            <string>выставка Питер</string>
            <string>Лавка</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WorkEnterList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>b8dfdef8-858c-11e4-90a2-8ecb0062d9a4</string>
            <string>ed542ee2-0c10-11e4-290c-002590a28eca</string>
            <string>2e0efd35-0c11-11e4-1c66-002590a28eca</string>
            <string>c521450c-b932-11e4-90a2-8ecb002eb879</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WorkLossList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>b4d59a28-858d-11e4-90a2-8ecb0062ddf8</string>
            <string>6efefa88-0856-11e4-8b21-002590a28eca</string>
            <string>55237a04-0c11-11e4-9b29-002590a28eca</string>
            <string>e03dd8f0-b932-11e4-7a40-e89700581df6</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PcsUOMUUID" serializeAs="String">
        <value>19f1edc0-fc42-4001-94cb-c9ec9c62ec10</value>
      </setting>
      <setting name="RetailPriceTypeUuid" serializeAs="String">
        <value>b14b6444-489b-11e3-36cc-7054d21a8d1e</value>
      </setting>
      <setting name="WhosalePriceTypeUUID" serializeAs="String">
        <value>b14b6444-489b-11e3-36cc-7054d21a8d1e</value>
      </setting>
      <setting name="KgUOMUUID" serializeAs="String">
        <value>2ec1170c-3f69-4409-87bb-c68e0011b275</value>
      </setting>
      <setting name="Nakladnye" serializeAs="String">
        <value>1.2</value>
      </setting>
      <setting name="ShippingTariffPerKG" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ShippingTariffPerPCS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EUOMUUID" serializeAs="String">
        <value>aeb667d1-3ea5-11e4-0a3e-002590a28eca</value>
      </setting>
      <setting name="ShippingTariffPerE" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="gUomUUID" serializeAs="String">
        <value>8e2eb543-99e9-4077-bc31-93b1359de9c4</value>
      </setting>
      <setting name="Whourcost" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="DirExpeditionUUID" serializeAs="String">
        <value>f90c172d-52e2-11e3-928b-7054d21a8d1e</value>
      </setting>
      <setting name="DirTrilboneWokersUUID" serializeAs="String">
        <value>c232c8fc-db60-11e3-a4c7-002590a28eca</value>
      </setting>
      <setting name="RawNumberMetaUUID" serializeAs="String">
        <value>37e765ad-e277-11e3-647f-002590a28eca</value>
      </setting>
      <setting name="PrepTimeMetaUUID" serializeAs="String">
        <value>92e6c43a-7683-11e4-90a2-8eca00175647</value>
      </setting>
      <setting name="ExpNumberMetaUUID" serializeAs="String">
        <value>68e39a55-7689-11e4-90a2-8eca0017720e</value>
      </setting>
      <setting name="ExpBuyNotesMetaUUID" serializeAs="String">
        <value>68e39c4a-7689-11e4-90a2-8eca0017720f</value>
      </setting>
      <setting name="NeedLabelMetaUUID" serializeAs="String">
        <value>f3b45916-14ff-11e4-96eb-002590a28eca</value>
      </setting>
      <setting name="NeedRePreparingMetaUUID" serializeAs="String">
        <value>a9e9d29b-cd50-11e3-8ee4-002590a28eca</value>
      </setting>
      <setting name="DirRePreparingUUID" serializeAs="String">
        <value>529cb8aa-cd50-11e3-e636-002590a28eca</value>
      </setting>
      <setting name="NeedPhotosMetaUUID" serializeAs="String">
        <value>4c819736-cd50-11e3-384e-002590a28eca</value>
      </setting>
      <setting name="NeedRepairMetaUUID" serializeAs="String">
        <value>012f1fe8-7804-11e4-90a2-8eca0039f078</value>
      </setting>
      <setting name="NeedBoxingMetaUUID" serializeAs="String">
        <value>390d4c7d-7804-11e4-90a2-8eca0039f2a5</value>
      </setting>
      <setting name="ReadyToEbayMetaUUID" serializeAs="String">
        <value>27bbe108-e5f1-11e3-4185-002590a28eca</value>
      </setting>
      <setting name="ReadyToMolotokMetaUUID" serializeAs="String">
        <value>a0df7210-e5f1-11e3-daf7-002590a28eca</value>
      </setting>
      <setting name="ReadyToSiteTrilboneMetaUUID" serializeAs="String">
        <value>a0df74e7-e5f1-11e3-a6d4-002590a28eca</value>
      </setting>
      <setting name="MyTreeCodeMetaUUID" serializeAs="String">
        <value>a30920fc-780a-11e4-90a2-8eca003a1e89</value>
      </setting>
      <setting name="PreparatorMetaUUID" serializeAs="String">
        <value>726390fd-f23b-11e3-56a4-002590a28eca</value>
      </setting>
      <setting name="ExpeditionMetaUUID" serializeAs="String">
        <value>2df0bcc4-52e4-11e3-9fa4-7054d21a8d1e</value>
      </setting>
      <setting name="ThisGoodMakerMetaUUID" serializeAs="String">
        <value>a0df6d7a-e5f1-11e3-c5fb-002590a28eca</value>
      </setting>
      <setting name="RePreparingDetailsMetaUUID" serializeAs="String">
        <value>a9e9d509-cd50-11e3-cbbc-002590a28eca</value>
      </setting>
      <setting name="ProfitSTD" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="InvoicePriceUUID" serializeAs="String">
        <value>372ae149-6d67-11e3-bbb4-7054d21a8d1e</value>
      </setting>
      <setting name="EbayTrilboneDemandUUID" serializeAs="String">
        <value>8a607e93-8d3f-11e4-90a2-8ecb00157480</value>
      </setting>
      <setting name="EbayTrilboneReservOrderUUIO" serializeAs="String">
        <value>3915d00d-b774-11e4-7a40-e897003d709a</value>
      </setting>
      <setting name="EbayNordstarfossilsReservOrderUUID" serializeAs="String">
        <value>bae9f066-b795-11e4-90a2-8ecb0017662a</value>
      </setting>
      <setting name="BoxTypeNumberMetaUUID" serializeAs="String">
        <value>77645a69-092f-11e5-90a2-8ecb000a82be</value>
      </setting>
      <setting name="NLcost" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TRsalary" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Credit" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="ClearProfitMetaUUID" serializeAs="String">
        <value>4ae04534-75c7-11e5-7a40-e8970013ac67</value>
      </setting>
      <setting name="HuntFullMetaUUID" serializeAs="String">
        <value>f1052f68-74cb-11e5-90a2-8ecb00069b79</value>
      </setting>
      <setting name="PrepFullMetaUUID" serializeAs="String">
        <value>3c2eeab4-74ca-11e5-7a40-e897000647a8</value>
      </setting>
      <setting name="PrepListMetaUUID" serializeAs="String">
        <value>8a981876-74bb-11e5-7a40-e89700044b96</value>
      </setting>
      <setting name="SchemeMetaUUID" serializeAs="String">
        <value>01dd220b-74bb-11e5-7a40-e897000439cb</value>
      </setting>
      <setting name="ComissionMetaUUID" serializeAs="String">
        <value>1717e2da-4abf-11e6-7a69-93a7000d598d</value>
      </setting>
    </RestMS_Client.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
